# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 43c913f940875604af86379f6bff7b11fa6cd1dd72801cfeb5789163190d094bd9a89490bc479178d4b14556e84a90425deb1323e7c582b0e2791e4899e6398d

test:
  secret_key_base: 02b3a1426a34ed15d1cf3fb93ec64848c16b5b4ff2b7b22a76b80b2385d37a2afc47f3327100438f0092f17c3107c101808d6a55a833d648bce33e04f6b05c46

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
